@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

section {
  @apply py-20;
}

.slick-dots {
  color: #1a21bc;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1a21bc !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
}
